<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CabineParty.UnitCodeApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PhotoBooth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CabineParty.UnitCodeApp.Properties.Settings>
            <setting name="PhotoBoothExecPath" serializeAs="String">
                <value>C:\Program Files (x86)\Sparkbooth 4\Sparkbooth 4.exe</value>
            </setting>
            <setting name="VideoSource" serializeAs="String">
                <value>C:\Users\fperin\Documents\hst_1.mpg</value>
            </setting>
            <setting name="WaitingTime" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="PhotoBoothProcessName" serializeAs="String">
                <value>Sparkbooth 4</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#FFDFD991</value>
            </setting>
            <setting name="CodeLength" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BackgroundPicture" serializeAs="String">
                <value>DefaultBackgroundPicture.png</value>
            </setting>
            <setting name="ValidCodeFilePath" serializeAs="String">
                <value>C:\Users\fperin\Documents\Code.txt</value>
            </setting>
            <setting name="UsedCodeFilePath" serializeAs="String">
                <value>C:\Users\fperin\Documents\Used.txt</value>
            </setting>
        </CabineParty.UnitCodeApp.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
